.Home {
  min-height: 100vh;
  min-height: 100dvh;

  color: rgb(var(--text-color-dark));
}

.container {
  display: flex;
  gap: 20px;
}

.underlineSpan {
  margin-inline: auto;
  position: relative;
  width: fit-content;
}

.underlineSpan::before {
  content: '';
  position: absolute;
  bottom: 0.1rem;
  width: 100%;
  height: 1rem;
  background-color: rgb(var(--accent-color), 0.1);
}

/* Hero Section CSS */
.hero {
  min-height: calc(100vh - 4rem);
  min-height: calc(100dvh - 4rem);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-inline: auto;
  background-color: rgb(var(--bg-light));
}

.title {
  font-size: 1.7rem;
  line-height: 1.1;
}

.title > span {
  position: relative;
  margin-inline: auto;
  display: block;
  width: fit-content;
}

.hero p {
  font-size: 0.9rem;
  color: rgb(var(--text-color-light));
  padding-block: 1rem 2rem;
  max-width: 33rem;
  margin-inline: auto;
}

.heroActionButtons > a {
  display: block;
  font-weight: 600;
  padding: 0.25rem 1.25rem;
  border: 2px solid rgb(var(--accent-color));
}

.aimButton {
  margin-top: 1rem;
}

@media (min-width: 620px) {
  .title {
    font-size: 3.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .heroActionButtons > a {
    display: inline-block;
    font-weight: 600;
    margin-top: 0rem;
    padding: 0.5rem 2rem;
    border: 2px solid rgb(var(--accent-color));
  }

  .aimButton {
    margin-left: 2rem;
  }
}

/* Facility Section */
.facilities {
  scroll-margin-top: 3rem;
  padding-block: 1rem;
}

.facilities h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.facilities h2 > span {
  display: block;
}

.facility {
  padding: 1rem;
  border: 1px solid #ebf0f6;
  margin-bottom: 2rem;
}

.facility > img {
  max-width: 4rem;
  min-width: 4rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .facilities {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .facilities h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .facilitiesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .facility {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .facilitiesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .facility {
    margin-bottom: 0;
  }
}

/* Footer */
.footerContainer {
  padding-block: 2rem;
}

.info {
  margin-bottom: 1.5rem;
}

.footerContainer h2 {
  font-size: 1.4rem;
}

.footerContainer p,
.footerContainer a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(var(--text-color-light));
}

.links > a {
  display: block;
}

.links > a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-inline: 5rem;
  }

  .info {
    flex-basis: 60%;
  }
}

/* Copy Right */
.copyRight {
  border-top: 1px solid hsl(214, 32%, 91%);
}

.copyRight p {
  padding-block: 0.5rem;
  text-align: center;
}
