.RecommendMovie {
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-inline: auto;
  background-color: rgb(var(--bg-light));
}

.RecommendMovie h1 {
  text-align: left;
  font-size: 1.6rem;
}

.movieFavorite {
  position: relative;
  min-width: min(600px, 80vw);
  max-width: min(600px, 80vw);

  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;

  padding: 1.5rem 3rem;
}

.searchTool {
  position: relative;
  min-width: min(600px, 80vw);
  max-width: min(600px, 80vw);

  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;

  padding: 1.5rem 3rem;
}

.searchTool > * + * {
  margin-top: 1rem;
}

.searchBarInput {
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin-inline: 0rem;
}

.RecommendMovie label {
  text-align: left;
  display: block;

  color: #333;
  font-weight: 500;
}

.RecommendMovie .searchButton {
  padding: 0.5rem 2rem;
}

.inputField select option {
  color: #333;
}

.filterInput :where(input, select, option) {
  cursor: pointer;
  width: 100%;
  position: relative;
  outline: none;
  font-size: 1rem;
  color: #707070;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.filterInput select {
  text-transform: capitalize;
}

.filterInput {
  margin-top: 1rem;
}

.RecommendMovie a {
  margin-top: 1rem;
  cursor: pointer;
}
